*{
  margin: 0;
  font-size: large;
}
body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}
header{
  grid-row: 1;
  grid-column: 1/4;
  background-color: #333333;
  color: white;
  padding: 20px;
}
nav{
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
main{
  grid-row: 3;
  grid-column: 1/3;
  padding: 20px;
  background-color: #cccccc;
}
aside{
  grid-row: 3;
  grid-column: 3;
  padding: 20px;
}
footer{
  grid-row: 4;
  grid-column: 1/4; 
  background-color: #333333;
  color: white;
  padding: 20px;
  text-align: center;
}